//variables allow you to change the content of the pafe easily. 
$primary-color: #ae0707;  
$secondary-color: white; 
$third-colour:black;
$background-color: #000000;
//font 
:root {
    --font-primary: "Jost", sans-serif;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}



